* {
    margin: 0%;
    padding: 0%;
    overflow-y: hidden;
}

body {
    background-color: rgb(224, 224, 217);
    height: 100vh;
}
header {
    background-color: rgb(111, 148, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.bg {
    background-color: white;
    padding: 100px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.205);
}

p {
    margin: 50px 0px;
}